
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h1 class="text-center mb-5">Bienvenido a Dacloud</h1>
      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title">Servicio de alojamiento en la nube</h5>
          <p class="card-text">Dacloud es un servicio de alojamiento en la nube que te permite almacenar y acceder a tus archivos en cualquier momento y desde cualquier lugar.</p>
          <p class="card-text">Con Dacloud, podrás disfrutar de características avanzadas de almacenamiento en la nube y compartir tus archivos de forma segura con otros usuarios.</p>
          <a href="#" class="btn btn-primary">Más información</a>
        </div>
      </div>
    </div>
  </div>
</div>

